@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>In Process</title>
    <style>
        #trouble {
            margin-top: 150px;
        }
    </style>
</head>
<body>
    <div id="trouble" align="center">
        <h1 align="center">Sorry page In Process</h1>
        <img src="~/Content/images/Data-Genealogy-icon.png"/>
        <h3 align="center">@Html.ActionLink("Back", "Index", "Home")</h3>
    </div>
</body>
</html>
