<!DOCTYPE html>
<html>
<head>
 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
 
<meta charset="utf-8" />
 
<title>theFood</title>
<link href="css/main.css" rel="stylesheet" type="text/css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/sliderJS.js"></script>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">

<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  
</head>
<body>
 
<!-- begin header -->
<header class="header">

<div class="logo">
<a href="index.html"> 
<img src="images/logotheFood.png" class="imgLogo" alt="theFood">
</a>
</div>

<div class="nav">
<a href="index.html" class="imguser"> 
<img src="images/user.png" class="imguser" alt="user">
</a>
</div>

<div id="headerInner">
</div>
</header><!-- end header -->
 
<!-- begin wrapper --> 
<section id="wrapper">
<div id="middle"><!--begin middle-->
<div id="content"><!-- begin contener-->

<form action="" method="post" id="search">
  <input type="text" name="" value="Search" onblur="if(this.value=='') this.value='Search';" onfocus="if(this.value=='Search') this.value='';" class="input" />
  <input type="submit" name="" value="" class="submit" />
</form>

<!-- begin contener-->
<div class="container">
	<div class="row">
		<div class="span12">
    	    <div class="well1"> 
                <div id="myCarousel" class="carousel slide">
                 <!--
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                 -->
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	 

                	</div>

					<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>                    
                	</div>
                	<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 1.png" alt="Image" style="max-width:100%;" /></a></div>                    
                	</div>
                	<!--/row-fluid-->

                </div><!--/item-->
                 
                <div class="item">
                	<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>

                	</div>

					<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>                    
                	</div>
                	<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 4.png" alt="Image" style="max-width:100%;" /></a></div>                    
                	</div><!--/row-fluid-->
                </div><!--/item-->
                 
                <div class="item">
                	<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>

                	</div>

					<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>                    
                	</div>
                	<div class="row-fluid">
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>

                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>
                	  <div class="span2"><a href="#x" class="thumbnail1"><img src="images/Product 7.png" alt="Image" style="max-width:100%;" /></a></div>                    
                	</div><!--/row-fluid-->
                </div><!--/item-->
                 
                </div><!--/carousel-inner-->
                 
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
               
                </div><!--/myCarousel-->
                  <div class="imgfork">
                	<img src="images/fork.png">
                </div>
                <div class="imgspoon">
                	<img src="images/spoon.png">
                </div>
            </div><!--/well-->   
		</div>
	</div>
</div>

<form action="" method="post" id="generateRecipe">
  <input type="submit" name="" value="" class="recipeButton" />
</form>

</div><!-- end content -->
<div class="controllist" id="ext">
	
<form action="" method="post" id="listbuttom">
  <input type="submit" name="" value="" class="imglistbutton" />
</form>

<form action="" method="post" id="cellListbuttom">
  <input type="submit" name="" value="" class="imgcellListbutton" />
</form>

</div>
<div class="listRecipes">

<div class="recipe">
	<img src="images/Bljuda-iz-ryby.jpg">	
	<div class="description">
	<h1>Оформление текста</h1>
 Текст следует оформлять тегами. Они позволяют задать регистр, цвет шрифта, подчеркнуть его, выделить курсивом, перенести на новую строку и
 так далее. Фактически теги - это команды для браузера, которые он применит для оформления текста.

 </div>
</div>
<div class="recipe">
	<img src="images/Bljuda-iz-ryby.jpg">	
	<div class="description">
	<h1>Оформление текста</h1>
 Текст следует оформлять тегами. Они позволяют задать регистр, цвет шрифта, подчеркнуть его, выделить курсивом, перенести на новую строку и
 так далее. Фактически теги - это команды для браузера, которые он применит для оформления текста.

 </div>
</div>
<div class="recipe">
	<img src="images/Bljuda-iz-ryby.jpg">	
	<div class="description">
	<h1>Оформление текста</h1>
 Текст следует оформлять тегами. Они позволяют задать регистр, цвет шрифта, подчеркнуть его, выделить курсивом, перенести на новую строку и
 так далее. Фактически теги - это команды для браузера, которые он применит для оформления текста.

 </div>
</div>
<div class="recipe">
	<img src="images/Bljuda-iz-ryby.jpg">	
	<div class="description">
	<h1>Оформление текста</h1>
 Текст следует оформлять тегами. Они позволяют задать регистр, цвет шрифта, подчеркнуть его, выделить курсивом, перенести на новую строку и
 так далее. Фактически теги - это команды для браузера, которые он применит для оформления текста.

 </div>
</div>
 <div class="recipe">
	<img src="images/Bljuda-iz-ryby.jpg">
	<div class="description">
	<h1>Оформление текста</h1>
 Текст следует оформлять тегами. Они позволяют задать регистр, цвет шрифта, подчеркнуть его, выделить курсивом, перенести на новую строку и
 так далее. Фактически теги - это команды для браузера, которые он применит для оформления текста.
 </div>
</div>
 <div class="recipe">
	<img src="images/Bljuda-iz-ryby.jpg">
	<div class="description">
	<h1>Оформление текста</h1>
 Текст следует оформлять тегами. Они позволяют задать регистр, цвет шрифта, подчеркнуть его, выделить курсивом, перенести на новую строку и
 так далее. Фактически теги - это команды для браузера, которые он применит для оформления текста.
 </div>
</div>

</div><!--end listRecipes-->

<form action="" method="post" id="nextRecipeButton">
  <input type="submit" name="" value="" class="nextLoadRecipeButton" />
</form>

</div><!-- end middle -->
</section><!-- end wrapper -->
 
<!-- begin footer -->
 
<footer id="footer">
<div class="footerTop"></div>
<div id="footerInner">
 
</div><!-- end footerInner -->
</footer><!-- end footer -->
 
</body>
</html>